@{
  Layout = "_Layout";
}

<div class="container">
<h1>Welcome to the airlineplanner</h1>
<a href="/flights">Click here to view all flights</a>
<br>
<a href="/cities">Click here to view all cities</a>


