<h1>Add a flight</h1>

<form action='/flights' method='post'>
  <label for='departureTime'>departure time</label>
  <input id='departureTime' name='departureTime' type='text'>
  <label for='departureCity'>departure city</label>
  <input id='departureCity' name='departureCity' type='text'>
  <label for='arrivalCity'>arrival city</label>
  <input id='arrivalCity' name='arrivalCity' type='text'>
  <label for='status'>status</label>
  <input id='status' name='status' type='text'>
  <button type='submit'>Add flight</button>
</form>